/*-- scss:defaults --*/

// fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap');

// font family
$font-family-sans-serif: 'Roboto', Arial, sans-serif !default;
$presentation-heading-font: 'Roboto Slab', 'Times New Roman', serif  !default;

// font size
$presentation-font-size-root: 25px;
$presentation-line-height: 1.5em;

// font colour
$presentation-heading-color: #000000 !default;

// code
$code-color: #D73F09 !default;
$code-block-font-size: 16px;
$code-block-border-color: #000000;
$code-block-bg: #f9f9f9;

// bg colours 
$body-color: #000000;
$link-color: #D73F09;
$body-bg: #ffffff;

/*-- scss:rules --*/

/* General styles */
.reveal {
  max-height: calc(100vh - 15vh - bottomValue);
  overflow-y: scroll;
}

.reveal pre {
  visibility: visible !important;
}

.subtitle {
  font-size: $presentation-h3-font-size;
  font-family: $font-family-sans-serif;
}

.reveal h1 {
  padding-bottom: 15px;
  padding-top: 30px;
  color: #D73F09 !important;
}

.reveal h2 {
  color: #D73F09 !important;
  padding-bottom: 10px;
  border-bottom: 2.5px solid #000; /* Add a border underneath */
}

.reveal h3 {
  padding-top: 10px;
}

.author {
  color: $body-bg;
  font-size: $presentation-h4-font-size;
  font-family: $font-family-sans-serif;
}

.author a {
  color: $body-bg;
  font-size: $presentation-h4-font-size;
  font-family: $font-family-sans-serif;
}

section.has-dark-background a,
section.has-dark-background a:hover {
  color: $body-bg;
}

.reveal .slide-background-content {
  background-color: #edebebe7;
}

.reveal .footer {
  color: #b4b7b8;
  font-family: $font-family-sans-serif;
  padding-bottom: 25px;
}

.reveal .slide-logo {
  padding-bottom: 15px !important;
  max-height: 80px !important;
  z-index: 1;
}

.reveal .slide-menu-button {
  left: 5px;
  top: 15px;
  padding-left: 10px;
  color: #b4b7b8;
}

.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #D73F09;
  height: 2%;
}

.right {
  text-align: right;
}

/*-- Mobile Responsiveness --*/

@media (max-width: 768px) {
  :root {
    --slide-width: 100vw;
    --slide-height: 56.25vw; /* 16:9 aspect ratio */
    --slide-scale: calc(100vw / 1050);
  }

  .reveal .slides {
    width: var(--slide-width);
    height: var(--slide-height);
    transform: translate(-50%, -50%) scale(var(--slide-scale));
  }

  /* Adjust font sizes for smaller screens */
  .reveal h1, .reveal h2, .reveal h3 {
    font-size: calc($presentation-font-size-root * 0.8); /* Scale down font size */
  }

  .reveal .footer {
    padding-bottom: 15px;
  }

  .reveal .slide-logo {
    max-height: 60px !important;
  }
}
