/*-- scss:defaults --*/

// fonts

/* Define the font families for Kievit */
@font-face {
  font-family: 'Kievit Extrabold';
  src: url('Fonts/Kievit/Kievit Extrabold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Kievit Medium';
  src: url('Fonts/Kievit/Kievit Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kievit Regular';
  src: url('Fonts/Kievit/Kievit Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Define the font family for Stratum2 */
@font-face {
  font-family: 'Stratum2 Black';
  src: url('Fonts/Stratum2/Stratum2 Black.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Stratum2 Bold';
  src: url('Fonts/Stratum2/Stratum2 Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Stratum2 Medium';
  src: url('Fonts/Stratum2/Stratum2 Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Stratum2 Regular';
  src: url('Fonts/Stratum2/Stratum2 Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Set the default sans-serif font with a generic fallback
$font-family-sans-serif: "Times New Roman", "Book Antiqua", Palatino, FreeSerif, serif !default;

// colors
$body-bg: #FFFFFF !default;
$body-color: #000000 !default;
$link-color: #000000 !default;
$selection-bg: #D73F09 !default;
$code-block-bg: #F9F9F9 !default;
$code-color: #F9F9F9 !default;

// headings
$presentation-heading-font: 'Stratum2', $font-family-sans-serif !default;
$presentation-heading-color: #D73F09 !default;
$presentation-heading-text-transform: uppercase !default;

/*-- scss:rules --*/

/* Apply the Kievit font to the body */
body {
  font-family: 'Kievit Regular', sans-serif; /* Use Kievit Regular for the body text and fallback to a generic sans-serif font if it's not available */
  font-size: 0.8em;
}

.reveal a {
  line-height: 1.5em;
}

// Custom author font size
.reveal .author {
  font-size: 0.8em; // Adjust the size as needed
}

/* Add this rule to adjust the logo size */
.reveal .slide-logo {
  height: 100px !important;
  width: 100px !important;
  max-width: unset !important;
  max-height: unset !important;
}

h1 {
  font-size: 2.8em !important; // Adjust the size as needed
}

h2 {
  font-size: 1.6em !important; // Adjust the size as needed
}

h3 {
  font-size: 1.5em !important; // Adjust the size as needed
}

h4 {
  font-size: 1.4em !important; // Adjust the size as needed
}

h5 {
  font-size: 1.2em !important; // Adjust the size as needed
}

h6 {
  font-size: 1em !important; // Adjust the size as needed
}
