/*-- scss:defaults --*/

// fonts

/* Define the font families for Calluna */

@font-face {
  font-family: 'Calluna Regular';
  src: url('Fonts/Calluna/Calluna-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Define the font family for Alternative Gothic ATF */
@font-face {
  font-family: 'Alternative Gothic ATF Medium';
  src: url('Fonts/Alternate Gothic ATF/AlternateGothicATF-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('Fonts/Proxima Nova Regular/Proxima Nova Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Set the default sans-serif font with a generic fallback
$font-family-sans-serif: "Times New Roman", "Book Antiqua", Palatino, FreeSerif, serif !default;

// colors
$body-bg: #FFFFFF !default;
$body-color: #000000 !default;
$link-color: #000000 !default;
$selection-bg: #BA0C2F !default;
$code-block-bg: #F9F9F9 !default;
$code-color: #F9F9F9 !default;

// headings
$presentation-heading-font: 'Calluna Regular', $font-family-sans-serif !default;
$presentation-heading-color: #BA0C2F !default;

/*-- scss:rules --*/

/* Apply the Proxima Nova Regular font to the body */
body {
  font-family: 'Proxima Nova Regular', sans-serif; /* Use Kievit Regular for the body text and fallback to a generic sans-serif font if it's not available */
  font-size: 1em !important;
}

.reveal p {
  line-height: 1.3em;
  font-size: 1em;
}

.reveal li {
  font-size: 0.8em;
}

// Custom author font size
.reveal .author {
  font-family: 'Calluna Regular';
  font-size: 0.8em; // Adjust the size as needed
}

/* Add this rule to adjust the logo size */
.reveal .slide-logo {
  height: 100px !important;
  width: 100px !important;
  max-width: unset !important;
  max-height: unset !important;
}

h1 {
  font-size: 2.8em !important; // Adjust the size as needed
}

h2 {
  font-size: 1.6em !important; // Adjust the size as needed
}

h3 {
  font-size: 1.5em !important; // Adjust the size as needed
}

h4 {
  font-size: 1.4em !important; // Adjust the size as needed
}

h5 {
  font-size: 1.2em !important; // Adjust the size as needed
}

h6 {
  font-size: 1em !important; // Adjust the size as needed
}
