/*-- scss:defaults --*/

// fonts

/* Define the font families for Open Sans */


/* Import Open Sans from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

/* Define the font family for Stratum2 */
@font-face {
  font-family: 'Stratum2 Black';
  src: url('Fonts/Stratum2/Stratum2 Black.woff') format('woff'),
       url('Fonts/Stratum2/Stratum2 Black.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Stratum2 Bold';
  src: url('Fonts/Stratum2/Stratum2 Bold.woff') format('woff'),
       url('Fonts/Stratum2/Stratum2 Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Stratum2 Medium';
  src: url('Fonts/Stratum2/Stratum2 Medium.woff') format('woff'),
       url('Fonts/Stratum2/Stratum2 Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stratum2 Regular';
  src: url('Fonts/Stratum2/Stratum2 Regular.woff') format('woff'),
       url('Fonts/Stratum2/Stratum2 Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Set the default sans-serif font with a generic fallback
$font-family-sans-serif: "Open Sans", Palatino, FreeSerif, serif !default;

// colors
$body-bg: #FFFFFF !default;
$body-color: #000000 !default;
$link-color: #000000 !default;
$selection-bg: #D73F09 !default;
$code-block-bg: #F9F9F9 !default;
$code-color: #F9F9F9 !default;

// headings
$presentation-heading-font: 'Stratum2' !important;
$presentation-heading-color: #D73F09 !default;

/*-- scss:rules --*/

/* Apply the Kievit font to the body */

.reveal a {
  line-height: 1.3em;
  
}

.reveal li {
  font-size: 0.7em; /* Adjust the value accordingly */
  line-height: 1.2; /* Adjust the value accordingly */
}

.reveal p {
  font-family: $font-family-sans-serif !important;
  line-height: 1.5em !important;
  font-size: 0.7em;
}

// Custom author font size
.reveal .author {
  font-size: 0.8em; // Adjust the size as needed
}

/* Add this rule to adjust the logo size */
.reveal .slide-logo {
  height: 125px !important;
  width: 125px !important;
  max-width: unset !important;
  max-height: unset !important;
}

h1 {
  font-size: 1.9em !important; // Adjust the size as needed
}

h2 {
  font-size: 1.5em !important; // Adjust the size as needed
}

h3 {
  font-size: 1.1em !important; // Adjust the size as needed
}

h4 {
  font-size: 0.9em !important; // Adjust the size as needed
}

h5 {
  font-size: 0.8em !important; // Adjust the size as needed
}

h6 {
  font-size: 0.6em !important; // Adjust the size as needed
}
